<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <title>School.ma | Admin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="{% static "css/tailwind-output.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css"/>
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />
  </head>
  <body class="text-blueGray-700 antialiased">
    <div id="root">
        <nav class=" md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6">
            <div class=" md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto">
                <button class=" cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent" type="button" onclick="toggleNavbar('example-collapse-sidebar')"><i class="fa fa-bars"></i></button>
                <a class=" md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0" href="/dashboard">{{ APP_Name }}</a>
                <ul class="md:hidden items-center flex flex-wrap list-none">
                    <!---------------------- Notifications Mobile -------------------------------------->
                    <li class="inline-block relative">
                        <!--<a class="text-blueGray-500 block py-1 px-3" href="#pablo" onclick="openDropdown(event,'notification-dropdown')"><i class="fas fa-bell"></i></a>
                        <div class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1" style="min-width: 12rem" id="notification-dropdown"></div>-->
                    </li>
                    <!---------------------- Avatar Mobile -------------------------------------->
                    <li class="inline-block relative">
                    <a class="text-blueGray-500 block" href="#pablo" onclick="openDropdown(event,'user-responsive-dropdown')">
                        <div class="items-center flex">
                        <span class=" w-12 h-12 text-sm text-white bg-blueGray-200 inline-flex items-center justify-center rounded-full"><img alt="..." class=" w-full rounded-full align-middle border-none shadow-lg" src="{% static "images/avatar.png" %}"/></span>
                        </div>
                    </a>
                    <div class=" hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1" style="min-width: 12rem" id="user-responsive-dropdown">
                        <a href="/settings" class=" text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Paramétres</a>
                        <a href="#pablo" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Se déconnecter</a>
                    </div>
                    </li>
                </ul>
                <!---------------------- Logo Mobile -------------------------------------->
                <div class=" md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded hidden" id="example-collapse-sidebar">
                    <div class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200">
                    <div class="flex flex-wrap">
                        <div class="w-6/12"><a class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0" href="/dashboard">{{ APP_Name }} </a></div>
                        <div class="w-6/12 flex justify-end"><button type="button" class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent" onclick="toggleNavbar('example-collapse-sidebar')"><i class="fas fa-times"></i></button></div>
                    </div>
                </div>

                <!------------------------------ Side bar section 1 ---------------------------->
                <hr class="my-4 hidden md:min-w-full" />
                <ul class="md:flex-col md:min-w-full flex flex-col list-none">
                    {% for item in side_bar_items%}
                        <li class="items-center pb-3">
                            <a
                            class="text-xs uppercase py-3 font-bold block hover:text-blue-600
                                {% if request.path == item.url%}
                                    text-blue-500
                                {% else %}
                                    text-blueGray-700 text-xs
                                {% endif %}
                            "
                            href="{{ item.url }}">
                            <i class="fas {{ item.icon }} opacity-75 mr-2 text-sm"></i>{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <hr class="my-4 md:min-w-full" />
                <!------------------------------ Side bar section 2 ---------------------------->
                <h6 class=" md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-8 no-underline">Administration</h6>
                <ul class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4">
                    <li class="inline-flex"><a class="text-blueGray-700 hover:text-blueGray-500 hover:text-blue-600 text-sm block mb-8 no-underline font-semibold" href="/users"><i class="fas fa-user-lock mr-2 text-blueGray-400 text-base"></i>Utilisateurs</a></li>
                    <li class="inline-flex"><a class="text-blueGray-700 hover:text-blueGray-500 text-sm block mb-8 no-underline font-semibold" href="/settings"><i class="fa fa-cog mr-2 text-blueGray-400 text-base"></i>Paramétres</a></li>
                    <li class="inline-flex"><a class="text-blueGray-700 hover:text-blueGray-500 text-sm block mb-8 no-underline font-semibold" href="/support"><i class="fas fa-info-circle mr-2 text-blueGray-400 text-base"></i>Support</a></li>
                    <li class="inline-flex"><a class="text-red-600 hover:text-red-500 text-sm block mb-8 no-underline font-semibold" href="#logout"><i class="fas fa-sign-out-alt mr-2 text-blueGray-400 text-base"></i>Se déconnecter</a></li>
                </ul>
            </div>
        </nav>

        <div class="relative md:ml-64 bg-blueGray-50">
            <!------------------------------ Avatar desktop  ---------------------------->
            <nav class="absolute top-0 left-0 w-full z-10 bg-transparent md:flex-row md:flex-nowrap md:justify-start flex items-center p-4">
                <div class="w-full mx-autp items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4">
                <a class="text-white text-sm uppercase hidden lg:inline-block font-semibold" href="javascript:void(0);"></a>
                    <ul class="flex-col md:flex-row list-none items-center hidden md:flex">
                        <a class="text-blueGray-500 block" href="#pablo" onclick="openDropdown(event,'user-dropdown')">
                            <div class="items-center flex"><span class=" w-12 h-12 text-sm text-white bg-blueGray-200 inline-flex items-center shadow justify-center rounded-full"><img class=" w-full rounded-full align-middle border-none shadow-lg" src="{% static "images/avatar.png" %}"/></span></div>
                        </a>
                        <div class=" hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1" style="min-width: 12rem" id="user-dropdown">
                        <a href="/settings" class=" text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Paramétres</a>
                        <a href="#pablo" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Se déconnecter</a>
                    </ul>
                </div>
            </nav>
            <!------------------------------ Content  ---------------------------->
            <div class=" px-3 md:px-2 w-full">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <!------------------------------ Js---------------------------->
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
  </body>
</html>
